.searchContainer {
  display: flex;
  background-color: light-dark(#ffffff, #2a2f35);
  border-radius: 0.4em;
  gap: 1em;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0.5em 1em;
  font-size: 1.6rem;
  font-weight: 400;
  height: 6rem;
}

.input {
  display: block;
  width: 100%;
  border: none;
  padding-left: 0.5em;
  line-height: 2rem;
  outline: none;
  background-color: inherit;
  color: light-dark(#222258, white);
  font-weight: 400;
  font-size: 1.5rem;
}

.icon {
  width: 15px;
}

@media (min-width: 769px) {
  .searchContainer {
    height: 4rem;
    max-width: 35vw;
  }
}
